@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
  }
  
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    color: gray;


}
h1,h2,h3,h4,h5{
    color: #4a4a4a;
    font-weight: 100;
}
.page1{
    display: flex;
    flex-direction: column;
    padding: 0%;
    height: 90vh;
    background-image:url('../pics/plastic_shredding_recycling_web-2048x1227.webp');
    background-size: cover;
    z-index: -1;
   
}
.navbar{
    width: 100vw;
    position: fixed;
    z-index: 1000;
}
.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-items ul{
    padding-right: 1.5rem;
}

.nav-items ul li {
    
    list-style: none;
   display: inline-block;
    padding-right: 0;
    font-weight: bolder;

   
}
.nav-items ul li button {
    text-decoration: none;
    padding: 0.7rem;
    border-radius: 25px;
    font-size: 0.9rem;
    display: block;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.15);
   
}
.logo{
    width: 30%;
    overflow: hidden;
}

.logo img{

 height: 30%;
 padding: 2vh 0 0 2vw;
}

.contact{
    background-color: #f76c4e;
    color: white;
    transition:  background-color 0.5s;
}
.menu{
    color: black;
    background-color: white;
    transition:  background-color 0.5s;
}
.menu:hover{
    background-color: #d7d7d7;
}


 .overlay {
      
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden; 
    transition: 0.5s; 
  }
  
 
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
  }
  
 
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s;
  }
  

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button top right corner */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  } 


.contact:hover{
    background-color: #414141;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 10vh;
    width: 50%;
    background-color: #f3f2f2;
    height: 20vh;

}
.links a{
    color: gray;
    text-decoration: none;
    padding: 1rem;
}
.page2{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    text-align:justify;
    width: 80%;
    margin: 0 auto;
    height: auto;
    border-bottom: 1px solid rgb(227, 227, 227);
   
}
.page2 h1{
    position: relative;
    top: -40px;
}
.page2 .content{
    width: 50%;
}
.page2 .content button{
    margin-top: 30px;
    background-color: #414141;
    border: none;
    border-radius: 100px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.15);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 9px 20px 11px;
    position: relative;
    transition: all .3s;
  
    
}
.page2 .content button:hover{
    background-color: #9b9b9b;
}
.page2 .imgcontainer{
    margin-top: 60px;
    width: 50%;
    margin-bottom: 60px;

}
.page2 .imgcontainer img{
    width: 100%;
   
}

.page3{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
    height: auto;
   
}
.page3 .info{
    width: 30%;
}
.filter-collection{
    display: flex;
    position: relative;
    gap: 50px;
    flex-wrap: wrap;
    width: 70%;
    margin-bottom: 60px;
}
.filter{
    width: 40%;
}
.filter .filter-title h5{
    border-bottom: 1px solid rgb(227, 227, 227);
    padding-bottom: 5px;
    
}
.filter .filters{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.filter .filters button{
    box-sizing: border-box;
margin: 0 6px 13px;
min-height: 40px;
opacity: .3;
padding: 9px 17px 10px;
white-space: nowrap;
border-radius: 100px;
background-color: transparent;
border: 1px solid;
transition: all .3s;
cursor: pointer;
}
.filter .filters button:hover{
    border-color: #d8d8d8;
    opacity: 1;
}
.page4{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    width: 75%;
    margin: 0 auto;
    height: auto;
    border-top: 1px solid rgb(227, 227, 227);
   
}
.machines{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.machine{
    width: 245px;
    height: 400px;
    text-align: center;
    cursor: pointer;

}
@media(max-width: 800px) and (min-width: 0px) {
    .machine{
        width: 100%; 
        margin-bottom: 50px;
    }
  } 
  @media(max-width: 1200px) and (min-width: 801px) {
    .machine{
        width: 45%;
    }
  } 
.machine .photo{
    display: flex;
    gap: 15px;
}
.machine:hover .machine-pic img{
    transform: scale(1.05);
}

.machine-pic {
    width: 95%;
    overflow: hidden;
    border-radius: 10px;
}

.line {
    background-color: #f76c4e;
    content: "";
    height: 100px;
    top: 0;
    width: 3px;
}


.machine-pic img{
    width: 100%;
    border-radius: 10px;
    transition: transform 1s;
}
.machine a{
    color: #ababab;
    display: inline-block;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    padding-bottom: 7px;
    transition: transform 1s ease;
}
.machine:hover a{
    color: #f76c4e;
}
  
  .machine a::after {
 content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #818181;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s ease;
  }
  
  .machine:hover a::after {
    transform: scaleX(0);
    transform-origin: right;
  }
  .more-abt-plastics{
    border-top:1px solid #e4e4e4;
    margin-top: 100px;
  }
  .more-abt-plastics .title{
   position: relative;
    background-color:#f3f2f2;
    width: 65%;
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
    text-align: left;
    flex-direction: column;
    gap: 20px;
   
  }
  .more-abt-plastics .title h1,.subtitle{
    margin: 0px;
    position: relative;
    top: 90px;
    width: 46%;
  }
  .subtitle{
    font-size: 19px;
  }
  .info-collection{
    margin: 0 auto;
    margin-top: 150px;
   width: 75%;
  }

  .info1{
    display: flex;
    gap: 50px;
    position: relative;
  }
  .info1 .info1-title, .info2 .info2-title, .info3 .info3-title{
    height: 100px;
    border-left: 3px solid #bebebe;  
   width: 5%;
    
  }
  .info1 .info1-content{
    width: 30%;
  }
  .info1-video{
    width: 60%;
  }
  .info1-video iframe{
    width:80%;
    margin-left: 20%;
     height:315px;
  }

  .info2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    
  }
  .info2 .info2-content{
    margin-top: 50px;
    width: 50%;
    text-align: left;
  }
  .info3{
    display: flex;
    width: 25%;
    margin-top: 100px;
    gap: 20px;

  }

.shredderGallery{
  margin: 10% auto;

}

  @media(max-width: 800px) and (min-width: 0px) {

    .more-abt-plastics .title{
        width: 100%;
    }
    .more-abt-plastics .title h1,.subtitle{
        width: 70%;
      }
      .info-collection{
       width: 90%;
      }
    .info1{
        display: flex;
        margin: 0 auto;
        width: 95%;
        margin-top: 100px;
        flex-wrap: wrap;
      }
      .info1 .info1-content{
        width: 100%;
      }
      .info1-video{
        width: 100%;
      }
      .info1-video iframe{
        margin-left: 0%;
        width: 100%;
      }
      .info2 .info2-content{
        margin-top: 100px;
        width: 100%;
        text-align: left;
      }
      .info3{
        width: 100%;
    
      }
  }

@media(max-width: 800px) and (min-width: 0px) {
    .page1{
        background-image: none;
        height: auto;
    }
    .links{
        width: 100%;
        position: relative;
        top: 0px;
        height: 30vh;   
    
    }
    .page2{
        flex-direction: column;
    }
    .page2 .content{
        width: 100%;
       text-align:left;
    }
    .page2 .imgcontainer{
        margin-top: 30px;
        width: 100%;
    
    }
    .page3{
        flex-direction: column;
    }
    .page3 .info{
        width: 100%;
    }
    .filter-collection{
        display: flex;
        position: relative;
        gap: 50px;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 60px;
    }
    .filter{
        width: 100%;
    }

 }